---
title: David DeRemer. Maker of things in NYC.
---
<section id="main">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-11 col-md-11">
          <h1>Hello.</h1>
          <p><a onclick="goToPage(7)">David DeRemer</a>
             is a 
             <a onclick="goToPage(6)">father</a>, 
             business builder, investor, and Partner at <a onclick="goToPage(2)">Posse</a>. 
             He's done <a onclick="goToPage(3)">amazing work for great companies</a>.
             He likes to make things and hunt adventure.
             He's from and went to school in <a onclick="goToPage(4)">Pennsylvania</a>, and now lives in <a onclick="goToPage(5)">NYC</a>.
             <a onclick="goToPage(7)">Seek him out</a> to talk tech, startups, or just to have a beer.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg_gradient"></div>
</section>
<section id="posse">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <h1>Posse.</h1>
          <p>David is <a href="http://www.goposse.com">Partner and Boss at POSSE</a>, a mobile design/build 
            consultancy based in New York City. Posse works with entrepreneurial companies to build new businesses using mobile technology.
            We've work with big companies like <a href="http://gizmodo.com/brazils-soccer-team-has-smart-gatorade-bottles-that-tra-1596498135">Gatorade</a>, 
            start-ups like <a href="http://www.werideskate.com">WeRide</a>, bad-ass brands like <a href="http://sixpoint.com">Sixpoint</a>,
            and design agencies like <a href="http://www.smartdesignworldwide.com">Smart Design</a>. 
            <br><br>
            <a href="mailto:contact@goposse.com?subject=Let's build something great">Contact Posse to build something great.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg_gradient"></div>
</section>
<section id="experience">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-11">
          <h1>Experience.</h1>
          <p>David's career path has been windy, but always focused on big ideas and making them happen. 
            He spent 5 years at <a href="http://www.frogdesign.com">frog design</a>, one of the world's
            great strategic design consultancies working with big brands to develop new innovations. He worked
            at <a href="http://www.frogdesign.com">Chobani</a>, one of the fastest growing companies in human history, developing new product and service concepts.
            He launched (and subsequently closed) at tech startup, called <a href="http://www.dishfreely.com">Dish Freely</a>. He dabbled in investment banking,
            and got his start at the massive consultancy <a href="http://www.accenture.com">Accenture</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg_gradient from_top"></div>
</section>
<section id="school">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-11">
          <h1>Origins.</h1>
          <p>David is from the Lehigh Valley in Pennsylvania. He went to the
            <a href="http://www.upenn.edu">University of Pennsylvania</a> as a member of the <a href="http://www.upenn.edu/fisher/">Jerome Fisher
            Management and Technology program</a>. He has a BS.Econ from Wharton and a BAS in Systems Engineering.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg_gradient"></div>
</section>
<section id="newyork">
  <div class="content">
   <div class="container">
     <div class="row">
       <div class="col-xs-11 col-md-8 col-md-offset-2">
         <h1>Made in NY.</h1>
         <p>David currently lives in Greenpoint/Williamsburg, Brooklyn, a vibrant part of New York City, which is one of, if not <em>the</em> greatest city on the planet.
         </p>
       </div>
     </div>
   </div>
  </div>
  <div class="bg_gradient from_top"></div>
</section>
<section id="family">
  <div class="content">
   <div class="container">
     <div class="row">
       <div class="col-xs-11 col-md-7 col-md-offset-4">
         <h1>What matters.</h1>
         <p>Time is the most imporant asset we have. We can't make more of it, and we don't know how much we have left. Spend it wisely.
           Everything David does is for his wife, daughter, and family.
         </p>
       </div>
     </div>
   </div>
  </div>
  <div class="bg_gradient"></div>
</section>
<section id="findme">
  <div class="content">
   <div class="container">
     <div class="row">
       <div class="col-xs-12 col-md-6 col-md-offset-3">
         <h1>Connect.</h1>
         <p><a href="http://www.linkedin.com/in/davidderemer/">Here</a>, 
           <a href="https://twitter.com/deremer">here</a>, 
           <a href="https://github.com/deremer">here</a>,
           <a href="https://www.facebook.com/deremerd03">here</a>, or
           <a href="http://instagram.com/deremerd">here</a>.
           <br><br>Or <a href="mailto:info@davidderemer.com">email him.</a> 
         </p>
       </div>
     </div>
   </div>
  </div>
  <div class="bg_gradient"></div>
</section>