</body>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/onepage-scroll/jquery.onepage-scroll.min.js"></script>


<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->

</html>