<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{#if title}}{{title}}{{else}}{{site.title}}{{/if}}</title>
    <meta name="description" content="David DeRemer is Partner and Boss at Posse. He works with companies to build companies using mobile technology.">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/data/favicon.ico">    
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="bower_components/onepage-scroll/onepage-scroll.css">
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <!-- typekit -->
    <script type="text/javascript" src="//use.typekit.net/fbd2hrm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
  </head>
<body>
  <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  